In [145]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Newchapter1!",
                               db="clean_lake"))

In [146]:
cnx = mysql.connector.connect(user="root",
                            password="Newchapter1!",
                            host="127.0.0.1")

In [147]:
cnx.is_connected()

True

In [148]:
cursor = cnx.cursor()
cursor

In [149]:
query = """ SELECT*
FROM bootcamps.comments;"""

cursor.execute(query)

In [150]:
result = cursor.fetchall()
result

type(result)

list

In [151]:
clean_df = pd.DataFrame(result)
column_names = [head[0] for head in cursor.description]
clean_df.columns=column_names
clean_df.head(1)

,index,Unnamed: 0,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,...,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,0,0,293764,Ana Valeria Khatchikian,0,None,2022.0,0,Journalist,Great,...,"<p>I really enjoyed the boot camp, it was very...",10/7/2022,2022-10-07,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack

In [152]:
clean_df=clean_df.drop(["name","hostProgramName","isAlumni","jobTitle","body","rawBody","createdAt","queryDate", "Unnamed: 0","index"],axis=1)
clean_df.head(1)

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack

In [153]:
clean_df.to_sql('clean_comments', con = engine, if_exists = 'append', chunksize = 1000)

3680

In [154]:
clean_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack
3,293664,0,2022.0,High recommended Data analytics Bootcamp (Iro...,None,5.0,5.0,5.0,5.0,I am very happy and pleased for joining and fi...,ironhack
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack
...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [155]:
clean_df["update_program"]=""
clean_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,
3,293664,0,2022.0,High recommended Data analytics Bootcamp (Iro...,None,5.0,5.0,5.0,5.0,I am very happy and pleased for joining and fi...,ironhack,
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,
...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,

In [156]:
clean_df.isnull().sum()

id                  0
anonymous           0
graduatingYear      4
tagline             1
program           387
overallScore        8
overall            10
curriculum         47
jobSupport        279
review_body         0
school              0
update_program      0
dtype: int64

In [157]:
condition=~(clean_df["program"].isnull())
condition

0        True
1        True
2        True
3       False
4        True
        ...
3675     True
3676     True
3677     True
3678     True
3679     True
Name: program, Length: 3680, dtype: bool

In [158]:
null_cleaned_df=clean_df[condition]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,
...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,

In [159]:
# clean_df=pd.DataFrame([["UX/UI Design Bootcamp",""]],columns=["program","update_programs"])

# clean_df["update_programs"][clean_df["program"].str.contains("UX")]="UX/UI"
# clean_df

def program_name(s):

    if 'UI' in s or 'Digital' in s or 'Design' in s:
      
        return "UX/UI"
    elif 'Data' in s or 'Analytics' in s or 'Machine' in s:
        
        return "DATA"
    elif 'Software' in s or 'Dev' in s :
        
        return "WEBDEV"
    elif 'Cyber' in s:
         
        return "CYBER"
    else:
        return "TO DELETE"



null_cleaned_df["update_program"] = null_cleaned_df["program"].apply(program_name)
null_cleaned_df=null_cleaned_df[["id","anonymous","graduatingYear","tagline","program","overallScore","overall","curriculum","jobSupport","review_body","school","update_program"]]


display(null_cleaned_df)

C:\Users\te_sa\AppData\Local\Temp\ipykernel_18004\172112999.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_cleaned_df["update_program"] = null_cleaned_df["program"].apply(program_name)

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV
...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI

In [160]:
def program_time(s):

    if 'Part' in s:
        return "Part time"
    else:
        return "Full time"   



null_cleaned_df["program_time"] = null_cleaned_df["program"].apply(program_time)
#null_cleaned_df=null_cleaned_df[["anonymous","graduatingYear","tagline","program","overallScore","overall","curriculum","jobSupport","review_body","school","update_program"]]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time

In [161]:
def on_off_program(s):

    if 'Online' in s:
        return "Online"
    else:
        return "In Person"   


null_cleaned_df["program_presence"] = null_cleaned_df["program"].apply(on_off_program)
#null_cleaned_df=null_cleaned_df[["anonymous","graduatingYear","tagline","program","overallScore","overall","curriculum","jobSupport","review_body","school","update_program"]]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person

In [162]:
(null_cleaned_df["program_presence"]=="Online")&(null_cleaned_df["school"]!="app-academy")
null_cleaned_df[(null_cleaned_df["program_presence"]=="Online")&(null_cleaned_df["school"]!="app-academy")]

Empty DataFrame
Columns: [id, anonymous, graduatingYear, tagline, program, overallScore, overall, curriculum, jobSupport, review_body, school, update_program, program_time, program_presence]
Index: []

In [163]:
## is there online words in the comments? to check if it is different than the course name

def on_off_program_from_comment(s):

    if 'Online' in s:
        return "Online"
    else:
        return "In Person"   


null_cleaned_df["program_presence_review"] = null_cleaned_df["review_body"].apply(on_off_program)
#null_cleaned_df=null_cleaned_df[["anonymous","graduatingYear","tagline","program","overallScore","overall","curriculum","jobSupport","review_body","school","update_program"]]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,program_presence_review
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,In Person
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,In Person
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,In Person
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,In Person
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,In Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,In Person
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,In Person
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,In Person
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,In Person
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,In Person

In [164]:
null_cleaned_df[null_cleaned_df["program_presence"]=="Online"].count()

id                         164
anonymous                  164
graduatingYear             164
tagline                    164
program                    164
overallScore               164
overall                    164
curriculum                 164
jobSupport                 161
review_body                164
school                     164
update_program             164
program_time               164
program_presence           164
program_presence_review    164
dtype: int64

In [165]:
null_cleaned_df[null_cleaned_df["program_presence_review"]=="Online"].count()

id                         19
anonymous                  19
graduatingYear             19
tagline                    19
program                    19
overallScore               19
overall                    19
curriculum                 19
jobSupport                 18
review_body                19
school                     19
update_program             19
program_time               19
program_presence           19
program_presence_review    19
dtype: int64

In [166]:
null_cleaned_df.isnull().sum()

id                           0
anonymous                    0
graduatingYear               3
tagline                      0
program                      0
overallScore                 7
overall                      9
curriculum                  44
jobSupport                 240
review_body                  0
school                       0
update_program               0
program_time                 0
program_presence             0
program_presence_review      0
dtype: int64

In [167]:
null_cleaned_df=null_cleaned_df[~null_cleaned_df["overallScore"].isnull()]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,program_presence_review
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,In Person
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,In Person
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,In Person
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,In Person
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,In Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,In Person
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,In Person
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,In Person
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,In Person
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,In Person

In [168]:
null_cleaned_df[null_cleaned_df["program_presence_review"]=="Online"]

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,program_presence_review
1194,290167,0,2022.0,Best way to learn the skills needed and to bec...,Software Engineer Track: Online,5.0,5.0,5.0,5.0,I joined the 24-week Immersive Full Stack Onli...,app-academy,WEBDEV,Full time,Online,Online
1196,289928,0,2022.0,Great Way to Get In!,Software Engineer Track: Online,4.7,4.0,5.0,5.0,I enrolled in the Full Stack Online Immersive ...,app-academy,WEBDEV,Full time,Online,Online
1258,279762,0,2021.0,I took a leap and landed on my feet!,Software Engineer Track: Online,5.0,5.0,5.0,5.0,"I was here 7 months ago, in a very similar sit...",app-academy,WEBDEV,Full time,Online,Online
1299,275368,1,2021.0,Grueling but worth it,Software Engineer Track: Online,4.0,4.0,4.0,4.0,The curiculum was super intense but totally pa...,app-academy,WEBDEV,Full time,Online,Online
1322,274143,1,2020.0,Great Overall experience with plenty of career...,Software Engineer Track: In-Person,4.3,4.0,4.0,5.0,Pros: Great curriculum with ever changing prog...,app-academy,WEBDEV,Full time,In Person,Online
1380,267378,0,2020.0,App Academy is a life changing experience. I ...,Software Engineer Track: Online,5.0,5.0,5.0,5.0,I started in February 2020 and just graduated ...,app-academy,WEBDEV,Full time,Online,Online
1436,264297,0,2020.0,Underwhelming and Disappointing -- But Hoping ...,Software Engineer Track: Online,2.3,2.0,2.0,3.0,I joined App Academy with very high expectatio...,app-academy,WEBDEV,Full time,Online,Online
1443,263635,0,2020.0,Intense but rewarding and fun experience!,Software Engineer Track: Online,4.3,5.0,4.0,4.0,Pros: - Great instructors- Online program is v...,app-academy,WEBDEV,Full time,Online,Online
1450,263386,0,2019.0,"Intensive, solid courses",Software Engineer Track: Online,4.7,5.0,4.0,5.0,I finished the App Academy Online Program rece...,app-academy,WEBDEV,Full time,Online,Online
1636,252786,0,2019.0,Totally Life-Changing in the Span of 24 Weeks,Software Engineer Track: Online,5.0,5.0,5.0,5.0,I worked in regulatory compliance for about 4 ...,app-academy,WEBDEV,Full time,Online,Online
1639,252911,0,2019.0,Fantastic program to learn the latest tech whe...,Software Engineer Track: Online,4.7,5.0,5.0,4.0,After working 7 years as a Mechanical Engineer...,app-academy,WEBDEV,Full time,Online,Online
1960,243121,1,2018.0,I would recommend it 100%,Bootcamp Prep,4.5,5.0,4.0,NaN,I checked out top 10 bootcamps and decided to ...,app-academy,TO DELETE,Full time,In Person,Online
2658,280775,0,2021.0,Springboard Software Engineering Career Track ...,Software Engineering Career Track,4.7,5.0,4.0,5.0,Pro's 1. Online courseware available at your o...,springboard,WEBDEV,Full time,In Person,Online
2728,278689,0,2021.0,"Intensive but thorough, provides great student...",UX Career Track,5.0,5.0,5.0,5.0,One summer in college I took two 6-week summer...,springboard,TO DELETE,Full time,In Person,Online
3060,267786,1,2020.0,Big Oof,Software Engineering Career Track,2.0,2.0,2.0,2.0,I have been enrolled at Springboard since Apri...,springboard,WEBDEV,Full time,In Person,Online
3118,265627,0,2020.0,Awesome course with a great support mechanism,Data Science Career Track,4.7,5.0,5.0,4.0,I am currently pursuing the Data Science Onlin...,springboard,DATA,Full time,In Person,Online
3137,264845,0,2020.0,Great Support System to help you learn and suc...,Data Science Career Track,4.3,4.0,4.0,5.0,The best part of Springboard is the support sy...,springboard,DATA,Full time,In Person,Online
3139,264775,0,2020.0,"Great learning experience, value for money",Data Science Career Track,5.0,5.0,5.0,5.0,The pros:1. curated content from the best of p...,springboard,DATA,Full time,In Person,Online
3618,243184,0,2017.0,Data Science Career Track,Data Science Career Track,4.0,4.0,4.0,4.0,I enrolled in Springboard's Online Data Scienc...,springboard,DATA,Full time,In Person,Online

In [ ]:
list(null_cleaned_df["review_body"][null_cleaned_df["program_presence_review"]=="Online"])

In [170]:
print(null_cleaned_df["program"].nunique())
print(null_cleaned_df["program"].unique())

39
['UX/UI Design Bootcamp' 'Data Analytics Part-Time'
 'Cybersecurity Part-Time' 'Web Development Part-Time'
 'Web Development Bootcamp' 'Data Analytics Bootcamp'
 'UX/UI Design Part-Time' 'Cyber Security Bootcamp'
 'Full-time Web Development Bootcamp' 'Full-time UX/UI Design Bootcamp'
 'Part-time Web Development' 'Part-time UX/UI Design'
 'Full-time Web Development Bootcamp ' 'Part-time UX/UI Design '
 'Web Design' '24-Week Online Full-Time Software Engineering Program'
 'Software Engineer Track: Online' 'App Academy Open'
 'Software Engineer Track: In-Person' 'Bootcamp Prep'
 'UI/UX Design Career Track' 'Data Analytics Career Track'
 'Software Engineering Career Track Prep Course'
 'Software Engineering Career Track' 'Data Science Career Track'
 'Cyber Security Career Track' 'UX Career Track'
 'Data Science Career Track Prep' 'Introduction to Design'
 'Machine Learning Engineering Career Track'
 'Data Engineering Career Track' 'Digital Marketing Career Track'
 'Business Analytics' 'UX Design' 'Introduction to Data Science'
 'Digital Marketing for Professionals' 'Intermediate Data Science'
 'Introduction to Cybersecurity' 'Cybersecurity Career Track']

In [171]:
null_cleaned_df["update_program"].isnull()

0       False
1       False
2       False
4       False
5       False
        ...
3675    False
3676    False
3677    False
3678    False
3679    False
Name: update_program, Length: 3286, dtype: bool

In [172]:
null_cleaned_df.shape

(3286, 15)

In [173]:
clean_df.shape

(3680, 12)

In [174]:
null_cleaned_df['update_program'].unique()

array(['UX/UI', 'DATA', 'CYBER', 'WEBDEV', 'TO DELETE'], dtype=object)

In [175]:
null_cleaned_df=null_cleaned_df[null_cleaned_df["update_program"]!="TO DELETE"]
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,program_presence_review
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,In Person
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,In Person
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,In Person
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,In Person
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,In Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,In Person
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,In Person
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,In Person
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,In Person
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,In Person

In [176]:
null_cleaned_df["update_program"].unique()

array(['UX/UI', 'DATA', 'CYBER', 'WEBDEV'], dtype=object)

In [177]:
null_cleaned_df.describe()

,id,anonymous,graduatingYear,overallScore,overall,curriculum,jobSupport
count,3063.000000,3063.000000,3061.000000,3063.000000,3061.000000,3026.000000,2856.000000
mean,258032.062357,0.174339,2019.004574,4.654130,4.731787,4.625909,4.585784
std,17739.191761,0.379463,1.817843,0.575191,0.598691,0.640384,0.769603
min,231519.000000,0.000000,2011.000000,1.000000,1.000000,1.000000,1.000000
25%,242394.000000,0.000000,2018.000000,4.400000,5.000000,4.000000,4.000000
50%,258098.000000,0.000000,2019.000000,5.000000,5.000000,5.000000,5.000000
75%,272131.500000,0.000000,2020.000000,5.000000,5.000000,5.000000,5.000000
max,293851.000000,1.000000,2022.000000,5.000000,5.000000,5.000000,5.000000

In [178]:
ironhack_series=null_cleaned_df[null_cleaned_df["school"]=="ironhack"]
ironhack_series.describe()

,id,anonymous,graduatingYear,overallScore,overall,curriculum,jobSupport
count,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1019.000000,1010.000000
mean,252560.134286,0.100000,2018.438095,4.780095,4.827619,4.739941,4.759406
std,16160.940559,0.300143,1.675391,0.545695,0.559006,0.601312,0.659260
min,231531.000000,0.000000,2011.000000,1.000000,1.000000,1.000000,1.000000
25%,239298.250000,0.000000,2017.000000,4.700000,5.000000,5.000000,5.000000
50%,245467.500000,0.000000,2018.000000,5.000000,5.000000,5.000000,5.000000
75%,263963.750000,0.000000,2020.000000,5.000000,5.000000,5.000000,5.000000
max,293764.000000,1.000000,2022.000000,5.000000,5.000000,5.000000,5.000000

In [179]:
springboard_series=null_cleaned_df[null_cleaned_df["school"]=="springboard"]
springboard_series.describe()

,id,anonymous,graduatingYear,overallScore,overall,curriculum,jobSupport
count,1056.000000,1056.000000,1056.000000,1056.000000,1056.000000,1055.000000,959.000000
mean,267250.306818,0.125000,2019.928030,4.588826,4.682765,4.562085,4.497393
std,16894.759537,0.330876,1.602288,0.597585,0.620905,0.663270,0.833625
min,231567.000000,0.000000,2015.000000,1.000000,1.000000,1.000000,1.000000
25%,250956.500000,0.000000,2019.000000,4.300000,4.000000,4.000000,4.000000
50%,270644.000000,0.000000,2020.000000,4.700000,5.000000,5.000000,5.000000
75%,281832.250000,0.000000,2021.000000,5.000000,5.000000,5.000000,5.000000
max,293851.000000,1.000000,2022.000000,5.000000,5.000000,5.000000,5.000000

In [180]:
app_academy_series=null_cleaned_df[null_cleaned_df["school"]=="app-academy"]
app_academy_series.describe()

,id,anonymous,graduatingYear,overallScore,overall,curriculum,jobSupport
count,957.000000,957.000000,955.000000,957.000000,955.000000,952.000000,887.000000
mean,253863.889237,0.310345,2018.606283,4.587983,4.680628,4.574580,4.483653
std,16191.878629,0.462877,1.793876,0.558850,0.603616,0.639322,0.780340
min,231519.000000,0.000000,2013.000000,1.000000,1.000000,1.000000,1.000000
25%,239840.000000,0.000000,2017.000000,4.300000,4.000000,4.000000,4.000000
50%,251097.000000,0.000000,2019.000000,4.700000,5.000000,5.000000,5.000000
75%,264307.000000,1.000000,2020.000000,5.000000,5.000000,5.000000,5.000000
max,293770.000000,1.000000,2022.000000,5.000000,5.000000,5.000000,5.000000

In [191]:
print(list(null_cleaned_df.columns))

null_cleaned_df=null_cleaned_df[['id','anonymous','graduatingYear','tagline', 'program', 'overallScore', 'overall', 'curriculum', 'jobSupport', 'review_body', 'school', 'update_program', 'program_time', 'program_presence']]
null_cleaned_df
#scores_table=null_cleaned_df["id","graduatingYear",]

['id', 'anonymous', 'graduatingYear', 'tagline', 'program', 'overallScore', 'overall', 'curriculum', 'jobSupport', 'review_body', 'school', 'update_program', 'program_time', 'program_presence']

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person

In [192]:
def school_id(s):
    if s=="ironhack":
        return 1
    elif s=="springboard":
        return 2
    elif  s=="app-academy":
        return 3



null_cleaned_df["school_id"]=null_cleaned_df["school"].apply(school_id)
null_cleaned_df
#null_cleaned_df["program_presence"] = null_cleaned_df["program"].apply(on_off_program)

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,school_id
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,1
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,1
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,1
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,1
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,2
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,2
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,2
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,2
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,2

In [193]:
null_cleaned_df["update_program"].unique()

array(['UX/UI', 'DATA', 'CYBER', 'WEBDEV'], dtype=object)

In [195]:
def course_id(s):
    if s=="UX/UI":
        return 1
    elif s=="DATA":
        return 2
    elif  s=="CYBER":
        return 3
    elif s=="WEBDEV":
        return 4



null_cleaned_df["course_id"]=null_cleaned_df["update_program"].apply(course_id)
null_cleaned_df
#null_cleaned_df["program_presence"] = null_cleaned_df["program"].apply(on_off_program)

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,school_id,course_id
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,1,1
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,1,1
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,1,2
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,1,3
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,2,1
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,2,1
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,2,1
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,2,1
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,2,1

In [200]:
null_cleaned_df["program_time"].unique()

array(['Full time', 'Part time'], dtype=object)

In [201]:
def course_time_id(s):
    if s=="Full time":
        return 1
    elif s=="Part time":
        return 2
    
null_cleaned_df["program_time_id"]=null_cleaned_df["program_time"].apply(course_time_id)
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,school_id,course_id,program_time_id
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,1,1,1
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,1,1,1
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,1,2,2
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,1,3,2
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,2,1,1
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,2,1,1
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,2,1,1
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,2,1,1
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,2,1,1

In [202]:
null_cleaned_df["program_presence"].unique()

array(['In Person', 'Online'], dtype=object)

In [203]:
def course_attendance_id(s):
    if s=="In Person":
        return 1
    elif s=="Online":
        return 2
    
null_cleaned_df["program_presence_id"]=null_cleaned_df["program_presence"].apply(course_attendance_id)
null_cleaned_df

,id,anonymous,graduatingYear,tagline,program,overallScore,overall,curriculum,jobSupport,review_body,school,update_program,program_time,program_presence,school_id,course_id,program_time_id,program_presence_id
0,293764,0,2022.0,Great,UX/UI Design Bootcamp,3.3,4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack,UX/UI,Full time,In Person,1,1,1,1
1,293752,1,2022.0,Ux designer,UX/UI Design Bootcamp,3.7,3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack,UX/UI,Full time,In Person,1,1,1,1
2,293725,1,2022.0,Very good,Data Analytics Part-Time,3.3,3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack,DATA,Part time,In Person,1,2,2,1
4,293621,0,2022.0,Fascinating and Underwhelming,Cybersecurity Part-Time,3.3,3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack,CYBER,Part time,In Person,1,3,2,1
5,293620,1,2022.0,Extremely Satisfied,Web Development Part-Time,5.0,5.0,5.0,5.0,This one is the best bootcamp I have ever atte...,ironhack,WEBDEV,Part time,In Person,1,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,Excellent and comprehensive UX course,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard,UX/UI,Full time,In Person,2,1,1,1
3676,234877,0,2015.0,Springboard helped me start my career in UX,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard,UX/UI,Full time,In Person,2,1,1,1
3677,234838,0,2016.0,Highly recommended,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard,UX/UI,Full time,In Person,2,1,1,1
3678,242681,0,2016.0,A way to stay current for the highly motivated!,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard,UX/UI,Full time,In Person,2,1,1,1
3679,234178,0,2016.0,Springboard is an excellent course for self dr...,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard,UX/UI,Full time,In Person,2,1,1,1

In [204]:
null_cleaned_df["program_presence_id"].unique()

array([1, 2], dtype=int64)

In [205]:
null_cleaned_df.columns

Index(['id', 'anonymous', 'graduatingYear', 'tagline', 'program',
       'overallScore', 'overall', 'curriculum', 'jobSupport', 'review_body',
       'school', 'update_program', 'program_time', 'program_presence',
       'school_id', 'course_id', 'program_time_id', 'program_presence_id'],
      dtype='object')

In [209]:
comments_table=null_cleaned_df[['id', 'anonymous', 'graduatingYear',
       'overallScore', 'overall', 'curriculum', 'jobSupport', 'school_id','course_id', 'program_time_id','program_presence_id']]
comments_table

,id,anonymous,graduatingYear,overallScore,overall,curriculum,jobSupport,school_id,course_id,program_time_id,program_presence_id
0,293764,0,2022.0,3.3,4.0,3.0,3.0,1,1,1,1
1,293752,1,2022.0,3.7,3.0,4.0,4.0,1,1,1,1
2,293725,1,2022.0,3.3,3.0,4.0,3.0,1,2,2,1
4,293621,0,2022.0,3.3,3.0,3.0,4.0,1,3,2,1
5,293620,1,2022.0,5.0,5.0,5.0,5.0,1,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...
3675,234894,0,2015.0,5.0,5.0,5.0,5.0,2,1,1,1
3676,234877,0,2015.0,5.0,5.0,5.0,5.0,2,1,1,1
3677,234838,0,2016.0,3.7,4.0,4.0,3.0,2,1,1,1
3678,242681,0,2016.0,5.0,5.0,5.0,5.0,2,1,1,1
3679,234178,0,2016.0,4.7,5.0,5.0,4.0,2,1,1,1

In [227]:
courses_table=null_cleaned_df[['course_id','update_program']]
courses_table=courses_table.drop_duplicates()
courses_table

   course_id update_program
0          1          UX/UI
2          2           DATA
4          3          CYBER
5          4         WEBDEV

In [229]:
schools_table=null_cleaned_df[["school_id","school"]]
schools_table=schools_table.drop_duplicates()
schools_table

      school_id       school
0             1     ironhack
1162          3  app-academy
2322          2  springboard

In [251]:
null_cleaned_df.groupby(["school","update_program","program_time","program_presence"]).agg({"overallScore":"mean"})

                                                          overallScore
school      update_program program_time program_presence
app-academy WEBDEV         Full time    In Person             4.594325
                                        Online                4.557317
ironhack    CYBER          Full time    In Person             5.000000
                           Part time    In Person             3.300000
            DATA           Full time    In Person             4.421277
                           Part time    In Person             4.072727
            UX/UI          Full time    In Person             4.717375
                           Part time    In Person             4.651515
            WEBDEV         Full time    In Person             4.855420
                           Part time    In Person             4.806349
springboard CYBER          Full time    In Person             4.821429
            DATA           Full time    In Person             4.546642
            UX/UI          Full time    In Person             4.606436
            WEBDEV         Full time    In Person             4.736782

In [252]:
null_cleaned_df.groupby(["school","update_program","program_time","program_presence"]).agg({"overallScore":"mean","overallScore":"count"})


#school_id	course_id	program_time_id	program_presence_id
#superstore.groupby(["Segment","State"]).agg({"Sales":"sum"})

                                                          overallScore
school      update_program program_time program_presence
app-academy WEBDEV         Full time    In Person                  793
                                        Online                     164
ironhack    CYBER          Full time    In Person                    1
                           Part time    In Person                    1
            DATA           Full time    In Person                   47
                           Part time    In Person                   11
            UX/UI          Full time    In Person                  259
                           Part time    In Person                   33
            WEBDEV         Full time    In Person                  572
                           Part time    In Person                  126
springboard CYBER          Full time    In Person                   14
            DATA           Full time    In Person                  551
            UX/UI          Full time    In Person                  404
            WEBDEV         Full time    In Person                   87

In [222]:
course_school_options=null_cleaned_df.groupby(["school_id","course_id","program_time_id","program_presence_id"]).agg({"overallScore":"mean"})
course_school_options.reset_index(inplace=True)

In [225]:
course_school_relation=course_school_options[["school_id","course_id"]]
course_school_relation

    school_id  course_id
0           1          1
1           1          1
2           1          2
3           1          2
4           1          3
5           1          3
6           1          4
7           1          4
8           2          1
9           2          2
10          2          3
11          2          4
12          3          4
13          3          4

In [230]:
time_table=null_cleaned_df[["program_time_id","program_time"]]
time_table=time_table.drop_duplicates()
time_table

   program_time_id program_time
0                1    Full time
2                2    Part time

In [232]:
presence_table=null_cleaned_df[["program_presence_id","program_presence"]]
presence_table=presence_table.drop_duplicates()
presence_table

      program_presence_id program_presence
0                       1        In Person
1162                    2           Online

In [235]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Newchapter1!",
                               db="clean_lake"))

In [236]:
comments_table.to_sql('comments_table', con = engine, if_exists = 'append', chunksize = 1000)
courses_table.to_sql('courses_table', con = engine, if_exists = 'append', chunksize = 1000)
schools_table.to_sql('schools_table', con = engine, if_exists = 'append', chunksize = 1000)
presence_table.to_sql('presence_table', con = engine, if_exists = 'append', chunksize = 1000)
time_table.to_sql('time_table', con = engine, if_exists = 'append', chunksize = 1000)

2

In [238]:
null_cleaned_df.groupby(["update_program"]).agg({"overallScore":"mean"})

                overallScore
update_program
CYBER               4.737500
DATA                4.528407
UX/UI               4.649856
WEBDEV              4.699024

In [239]:
null_cleaned_df.groupby(["program_time"]).agg({"overallScore":"mean"})

              overallScore
program_time
Full time         4.650207
Part time         4.720468

In [240]:
null_cleaned_df.groupby(["program_presence"]).agg({"overallScore":"mean"})

                  overallScore
program_presence
In Person             4.659607
Online                4.557317